


.box-1 {
  width: 60%;
  border: 3px solid black;
  text-align: center;
  background: peru;
  font-family: sans-serif;
  margin-top: 50px;
  margin-left: 100px;
  font-size: 20px;
  padding: 20px;
}

.box-2 {
  border: 3px solid black;
  width: 60%;
  color: royalblue;
  font-family: Arial;
  font-size: 20px;
  text-transform: bold;
  text-align: center;
  line-height: 1.6em;
  margin-top: 20px;
  margin-left: 100px;
  padding: 10px;
}

.box-3 {
  border: 3px solid black;
  width: 60%;
  color: royalblue;
  font-family: Arial;
  text-transform: lowercase;
  font-size: 20px;
  text-transform: bold;
  text-align: left;
  line-height: 1.6em;
  margin-top: 300px;
  padding-left: 100px;
}
.black-border {
  text-decoration: none;
  text-transform: none;
  width: 60%;
  margin: 0 auto;
  padding:15px;
  text-align: center;
  font-size: 40px;
  background-color:greenyellow;
  color: black;
  border: 3px solid black;
  margin-top: 30px;
  margin-left: 100px;
}

h3 {
    font-size: 30px;
    color: red;
}
